aiodns==3.0.0
aioftp==0.21.3
aiohttp==3.8.6
aiohttp-socks==0.7.1
aiomysql==0.1.1
aioping==0.4.0
aiosignal==1.2.0
aiosmtplib==1.1.6
aiosqlite==0.17.0
async-timeout==4.0.2
asyncssh==2.11.0
attribdict==0.0.5
attrs==21.4.0
beautifulsoup4==4.11.1
cffi==1.15.1
charset-normalizer==2.1.0
cryptography==37.0.4
et-xmlfile==1.1.0
frozenlist==1.3.0
greenlet==1.1.2
idna==3.3
multidict==6.0.2
openpyxl==3.0.10
pycares==4.3.0
pycparser==2.21
pycryptodomex==3.14.1
PyMySQL==1.0.2
python-socks==2.0.3
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
typing_extensions==4.3.0
yarl==1.7.2
